*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.box1{
    width: 800px;
    height:  100px;
    background-color: pink;
    margin: 20px auto;
}
.box2{
    width: 800px;
    height: 250px;
    background-color: yellowgreen;
    margin: 20px auto;
}
.box3{
    width: 800px;
    height: 400px;
    background-color: blue;
    margin: 20px auto;
}

.box4{
    width: 800px;
    height: 75px;
    background-color: purple;
    margin: 20px auto; 
}