*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box1{
    width: 800px;
    height:  100px;
    background-color: pink;
    margin: 20px auto;
}
.box2{
    width: 800px;
    height: 250px;
    background-color: yellowgreen;
    margin: 20px auto;
}
.box3{
    width: 800px;
    background-color: blue;
    margin: 20px auto;
    clear:both;
}
.box3_1{
    width: 800px;
    height: 75px;
    background-color: lightblue;
}
.box3_2{
    float: left;
    width: 20%;
    height: 275px;
    background-color: lightblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box3_3{
    float: left;
    width: 56%;
    height: 275px;
    background-color: lightblue;
    margin: 20px 2% 0 2%;
}
.box3_4{
    float: left;
    width: 20%;
    height: 275px;
    background-color: lightblue;   
    margin-top: 20px;
}
.box3::after{
    display: table;
    content:"";
    clear: both;
}  
.box4{
    width: 800px;
    height: 75px;
    background-color: purple;
    margin: 20px auto; 
}